$ORANGE : orange;
$RED:#f44336;
$RED_DARK : #ba000d;
$BLUE:#1e88e5;
$BLUE_DARK:#005cb2;
$GRAY:#b0bec5;
$GRAY_DARK:#808e95;
$BACKGROUND_COLOR_DARK:#181a1d;
$BACKGROUND_COLOR_LIGHT:#2d3236;
$TEXT_LIGHT:#d5dae1;
$TEXT_DARK:#5f666e;
$ACCENT_GREEN:#9ac200;
$ACCENT_GREEN_DARK:#5C7400;
