@import 'colors';


.backOrange{
  background-color: $ORANGE;
}

.backgroundCard{
  background-color: $BACKGROUND_COLOR_LIGHT
}

.subTitle{
  font-size: 16px;
  font-weight: 700;
  color: $TEXT_LIGHT;
  letter-spacing: 1.2px;
}

.bgDark{
  background-color: $BACKGROUND_COLOR_DARK;
}
.bgLight{
  background-color: $BACKGROUND_COLOR_LIGHT;
}

.title{
  font-size: 16px;
  font-weight: 700;
  color: ghostwhite;
  letter-spacing: 1.2px;
}
.full-height {
  height: 100vh;
}

//Cards
.mainText{
  color: $TEXT_LIGHT;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.subText{
  color: $TEXT_LIGHT;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1.2px;

}
